ul {
    list-style: none;
    padding-left: 0;
}

.gallery{
    width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery-item{}
.gallery-link{}
.gallery-image{
    width: 360px;
    height: 200px;
}